/*
* navbar

nav img {
    width: 5%;
    height: 5%;
}
*/
/*
* background
*/

.border-article img {
    width: 50%;
    height: 50%;
}
.background img {
    object-fit: cover;
    height: 35em;
}

.titre-background {
    position: relative;
    text-align: center;
    bottom: 20rem; 
    color: white;
    font-size: 5rem;
}

/* ARTICLE */

article .container {
    background-color: #BFC7C1;
    border-radius: 20px;
}

article .list-group .list-group-item {
    border: none;
    background-color: #BFC7C1;
    color: #222222;
}

article .list-group .list-group-item a {
    color: #222222;
}

div .my-date {
    background-color: #738478;
    font-size: 0.8rem;
    border-radius: 20px;
}

article div .my-article::first-letter { 
    font-size: 180%;
    font-weight: bold;
  }

.my-article-img img {
    max-height:18%;
}

@media only screen and (max-width: 767px) {
    article img {
        width:100%;
        height: auto;
    }
  }

article .media img {
    width: 150px;
    border-radius: 20px;
}

.my-autor-social {
    border-radius: 20px;
}

article .nav-link {
   color: #BFC7C1;
}

article .nav-item .nav-link:hover {
    color: #222222;
 }

/* FOOTER */

footer {
    background-color: #2A302C;
}

.list-group {
    border-radius: 20px;
}

footer .list-group > :first-child {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #738478;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

footer .list-group > :last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
}

footer .list-group-item {
    background-color: #222222;
    border: none;
}

.badge-primary {
    background-color: #738478;
}


.my-list li {
    display: inline;
    list-style-type: none;
    color: #ffffff;
    font-size: 3rem;
    padding: 0 5px;
} 

.my-newsletter {
    background: #738478;
}

.my-newsletter button {
    background: #222222;
    border: none;
}

.my-newsletter button:hover {
    background: #BFC7C1;
    color: #222222;
}

.my-copyright {
    background-color: #222222;
}


 .border-article, .shadow{

    margin-right: -2px;
    width: 100%;       <hr>
    <small><i>Publié le mardi 4 mars 2019</i></small>
    padding: 20px; 
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
     
 }

hr {
    width: 50%;
    
}

.form-inline-footer .form-control {
    width: 44%;
}

/* SCROLL UP */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #738478; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


@media (max-width: 650px) { /*sur petit écran remplace le display: flex en display: block*/
    .media  {
    display: block;
    }
}

  @media screen and (max-width: 650px) { /* Sur petit écran la largeur de l'image passe à 100% (au lieu de 50%), elle prend toute la largeur de la div media*/
    .border-article img  {
        width: 100%;
        height: 100%;
    }

}


h3 {
    text-align:center;
}

