/*CSS GENERAL*/

/* *.my-color {
    background-color: #738478;}
    
*.my-light-color {
    background-color: #bfc7c1;}

*.my-dark-color {
    background-color: #222222;}

*.my-info-color {
    background-color: #2A302C;}

*.my-even-lighter-color {
    background-color: #e1e5e2;}
     */

/*
* navbar
*/
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #2A302C;
}

/* met l'image en background */
header{
    height: 25em; 
    background-image: url("../pictures/carousel-illuminati.jpeg");
    background-size: cover;
    padding: 1em 0;
}

@media (min-width: 1115px) { /*sur grand écran on modifie le padding du titre pour qu'il soit au centre*/
header  {
    padding: 6em;
  }
}

.border-article img {
    width: 50%;
    height: 50%;
}

.titre-background {

    text-align: center;
    color: white;
    font-size: 4rem;
}

/* ARTICLE */




.my-active {
    border-color: #738478 !important;
    background-color: #738478 !important;
}

.my-list-item:hover {
    background-color: #bfc7c1 !important;
}

.my-card .card .card-body{
    background-color: #e1e5e2;
    border-color: #222222;
}

article .container {
    background-color: #bfc7c1;
    border-radius: 2px;
    margin:12px;

}

article .list-group .list-group-item {
    border: none;
    background-color: #bfc7c1;
    color: #222222;
}

article .list-group .list-group-item a {
    color: #222222;
}

article .my-autor {
    background-color: #e1e5e2;
}

article .my-autor .nav-item .nav-link {
    background-color: #ffffff;
}

article .my-autor .media {
    background-color: #ffffff;
}

div .my-date {
    background-color: #738478;
    font-size: 0.8rem;
    border-radius: 20px;
}

article div .my-article::first-letter { 
    font-size: 180%;
    font-weight: bold;
    font-family: "vintage";
    font-weight: normal;
}

.my-article-img img {
    max-height:18%;
}

@media only screen and (max-width: 767px) {
    article img {
        width:100%;
        height: auto;
    }
  }

article .media img {
    width: 150px;
    border-radius: 20px;
}

.my-autor-social {
    border-radius: 20px;
}

article .nav-link {
   color: #bfc7c1;
}

article .nav-item .nav-link:hover {
    color: #222222;
 }

.my-comments .media img {
    width: 80px;
    border-radius: 20px;
}

.my-comments button {
    background: #222222;
    border: none;
}

.my-comments button:hover {
    background: #e1e5e2;
    color: #222222;
}


article hr {
    width: 95%;
}

/* FOOTER */

footer {
    background-color: #2A302C;
}

.list-group {
    border-radius: 20px;
}

footer .list-group > :first-child {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #738478;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

footer .list-group > :last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
}

footer .list-group-item {
    background-color: #222222;
    border: none;
}

.badge-primary {
    background-color: #738478;
}


.my-list li {
    display: inline;
    list-style-type: none;
    color: #ffffff;
    font-size: 3rem;
    padding: 0 5px;
}

.my-list li a {
    color: #ffffff;
} 

.my-newsletter {
    background: #738478;
}

.my-newsletter button {
    background: #222222;
    border: none;
}

.my-newsletter button:hover {
    background: #bfc7c1;
    color: #222222;
}

.my-copyright {
    background-color: #222222;
}

.border-article, .shadow {
    margin-right: -2px;
    width: 100%;
    padding: 20px; 
    box-shadow: -1px 2px 5px 1px rgba(2, 2, 2, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

hr {
    width: 50%;
}

.form-inline-footer .form-control {
    width: 44%;
}

/* SCROLL UP */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #738478; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

@media screen and (max-width: 750px) {
#myBtn {
    bottom: 70px;
}
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


@media (max-width: 650px) { /*sur petit écran remplace le display: flex en display: block*/
    .media  {
    display: block;
    }
}

@media screen and (max-width: 650px) { /* Sur petit écran la largeur de l'image passe à 100% (au lieu de 50%), elle prend toute la largeur de la div media*/
    .border-article img  {
        width: 100%;
        height: 100%;
    }
}


h3 {
    text-align:center;   /* Nos partenaires */
}

/*contact fin du monde*/
.endOfWorld strong {
    font-weight: bold;
}


/*police Dirty brush*/
@font-face{
    font-family: "vintage";
    src: url("/police/vintage.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
  }

nav, header, h2, h3, h4, .font {
    font-family: "vintage";
    font-weight: normal;
    font-size: normal;
}


/*police sourcesanspro */
@font-face{
    font-family: "regular";
    src: url("/police/SourceSansPro-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: auto;
  }

  .font-article, /* font texte article*/ p, h5 {
    font-family: "regular";
    font-weight: normal;
    font-size: auto;
}

.shadow-article{
    box-shadow: -1px 2px 6px 2px rgba(2, 2, 2, 0.7)
 }



/* The heart of the matter */



@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .card-group.card-group-scroll > .card {
        flex-basis: 20%;
        margin: 1rem;
    }
}


 /* espace dans les menus de la nav-bar*/
 .navbar-nav,
 .mr-auto {
 flex: 1;
 margin: auto !important;
 display: flex;
 justify-content: space-around;
 }

 .nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: white;
}

.btn-link {
    font-family: "vintage";
    font-size: 1.5rem;
    text-decoration: none;
    color: #222222;
}

.btn-link:hover {
    color: #222222;
}

blockquote {
    border-left : 2px solid #bfc7c1;
    padding-left : 10px;
    font-style: italic; 
}

.btn-primary, .btn-dark {
    font-family: "vintage";
}


#accordion .card-header, #accordion .card-header .active  {
    background-color: #e1e5e2;
}


.overlay{
    width:100%;
    height: 100%;
    background: #000;
    position: absolute;
    top:0;
    color: #fff;
    opacity:0;
    transition: all 0.25s ease-in;
    text-align:center;
    padding-top:30%;
    padding-left:10%;
    padding-right:10%;
   
}

.image:hover{
    transform: scale(1.15);
}

.overlay:hover{
    background: #000;
    overflow:hidden;
    opacity:0.8;
}
/*card text hidden sur grand écran */
@media (min-width: 1255px) { 
    .card-text-hidden{
        display:none;
            
    }
    .img-width{
        width:100%;
        height: 100%;
    
    }
    
    .item{
        width:100%;
        height: 80%;
        position:relative; 
    }
}

/*overlay hidden sur petits écrans */
@media (max-width: 1254px) { 
    .overlay{
        display:none;}     

}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  width: 7%;
}

.btn-light {
    color: #ffffff;
    background-color: #738478 !important;
    border-color:   #738478 !important;
  }

.btn-light:hover {
    color: #222222;
    background-color: #bfc7c1 !important;
    border-color:   #bfc7c1 !important;
}

  
.btn-primary:hover {
    color: #fff;
    background-color: #738478 !important;
    border-color: #738478 !important;
}

button .my-sou:hover {
    color: #222222 !important;
    background-color: #bfc7c1 !important;
    border-color: #738478 !important;
}
  
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 132, 120, 0.5) !important;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  width: 7% !important;
}